@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
.loading{
    position: relative;
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    font-family: 'Phudu', cursive;
    border: 1px ;
    z-index: 100;
}
.loadingData{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
.loadingData h1{
    font-size:2rem;
    letter-spacing: 0.2em;
}
.loadingData h3{
    font-size: 1rem;
    letter-spacing: 0.1em;
    align-self: center;
}
.loading{
    background-color:#9A5BFF;
}
.success{
    background-color: rgba(99, 216, 44, 1);
}
.failed{
    background-color: rgba(248, 40, 40, 1);
}
