body{
    background-color: #0E0E0E;
    margin: 0;
}
.Play{
    position: relative;
    top:70px;
    outline: none;
    display: inline;
    color: blueviolet;
}
.page{
    position: relative;
    top:32px;
}
main{
    position: relative;
    left:18.5rem;
    top:5rem;
    width:77.7%;
    height: 100%;
}
.star{
    position: relative;
    top:1.05rem;
    margin-right: 4px;
    color: yellow;
}

